.buying-container {
    width: 700px;
    height: 500px;
    margin-left: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
  }
  
 .Form {
    height: 500px;
    width: 400px;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 49%;
    color: black;
 }

 .form-group {
    margin-top: 40px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 13px;
    color: black;
  }
  
  input {
    margin-left: 40px;
    width: 50%;
    padding: 8px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .qr-code-section {
    margin: 20px 0;
  }
  
  .qr-placeholder {
    width: 270px;
    height: 250px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #aaa;
    border-radius: 5px;
    color: #555;
    font-size: 14px;
  }
  .qr-placeholder img{
    width: 260px;
    height: 240px;
  }
  
  button {
    width: 40%;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border: 0.16em solid black;

    color: black;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
    margin-top: 20px;
    transition: 0.2s;
  }
  
  button:hover {
    border: 0.16em solid white;
    color: white;
    background-color: black;
  }
  
  .alert-box {
    margin-top: 30px;
    padding: 10px;
    background-color: #d4edda;
    color: red;
    border: 1px solid #080808;
    border-radius: 5px;
    text-align: center;
  }
  .alert-box.success {
    background-color: #d4edda; 
    color: #155724;
  }
  