html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(129, 129, 115);
    color: white;
    
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1200px;
    font-size: 13px;
  }  

  form {
    width: 100%;
    height: 500px;
    max-width: 600px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(202, 169, 4)
  }
  
  form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="number"]{
    width: 90%;
    padding: 5px;
    border: 2px solid rgb(203, 198, 198);
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 14px;
  }
  
  input[type="submit"], input[type="reset"] {
    padding: 0.5em 1.7em;
    width: 90%;
    margin: 0.5em 0.2em;
    border: 0.16em solid black;
    background-color: white;
    border-radius: 2em;
    color: black;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  input[type="submit"]:hover, input[type="reset"]:hover {
    border: 0.16em solid white;
    color: white;
    background-color: black;
  }
  
  /* Table Styling */

  .scroll-table {
    width: 340%;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid rgb(202, 169, 4);
    margin: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  table {    
    border-collapse: collapse;
  }
  
  table.list th {
    border: 1px solid black;
    padding: 10px 70px;
    color: white;
    background-color: black;
    
  }
  
  table.list td {
    border: 1px solid black;
    padding: 5px 5px;
    color: black;
    position: sticky;
    
  }
  
  table.list tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
    
    
  }
  
  table.list tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.3);
    

  }
   
  button {
    padding: 6px 12px;
    margin-right: 6px;
    background-color: black;
    color: white;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: white;
    color: black;
  }
  
  @media screen and (max-width: 400px) {
    table {
      font-size: 14px;
    }
  
    form {
      padding: 10px;
    }
  
    input[type="text"], input[type="number"], input[type="date"] {
      width: 100%;
    }
  }

  .logout img {
    margin-top: 500px;
    margin-right: 20px;
    height: 40px;
    width: auto;
    cursor: pointer;
    border-radius: 50%;
}
.back img{
    margin: 15px;    
    height: 70px;
    width: auto;
    cursor: pointer;
    border-radius: 50%;
}


  
  