html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    width: 100%;
    height: 100vh;  
    background: fixed;
}
.header {
    position: fixed;
    display: flex;
    width: 96%;
    margin: 15px;
    margin-top: 30px;
    justify-content: flex-end;
}
.header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 68px;
    gap: 60px;
}
.header ul li {
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    color: black;
    font-weight: bold; 
    font-size: 18px;
    text-transform: uppercase; 
    cursor: pointer;
}
ul li:hover {
    border-bottom: 2px solid black;
}
.buttonsignup {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    color: white; 
    font-size: 13px; 
    font-weight: 600;
    margin-right: 60px;
    margin-top: 8px;
}
.image-container {
    display: flex;
    position: absolute;
    margin-right: 980px;
    gap: 10px;
}
.image-container img {
    height: 75px;
    width: auto;
    cursor: pointer;
}
.user img {
    margin-top: 5px;
    height: 40px;
    width: auto;
    cursor: pointer;
}
.couple {
    display: flex;
    position: absolute;
    margin-left: 350px;
    margin-top: 190px;
}
.form {
    height: 360px;
    width: 360px;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 38%;
}
.form h1{
    color: black;
    font-size: 30px;
}

.form .input {
    width: 280px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    background-color: white;
    padding: 5px 10px;
    outline: none;
    margin: 15px;
}
.input::placeholder {
    opacity: 0.8;
}
.input:focus {
    border: 2px solid black;
}
.form .remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    color: black;
}
.remember-forgot a {
    text-decoration: none;
    color: black;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.form .btn {
    width: 35%;
    border-radius: 10px;
    background-color: black;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
    margin-top: 10px;
}

